body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
}
.row {
    margin: 0;
}

a {
    color: #7ACCC8;
}

h1, h2 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.sidebar {
    position: absolute;
    width: 300px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: #35404F;
    color: #fff;
}

.sidebar h1 {
    padding: 20px;
}

a.archive {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
}
a.archive:hover {
	color: #eee;
	text-decoration: none;
}
a.archive .description {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}
a.archive.active {
    background: #399994;
    color: #fff;
}

.content {
    margin-left: 300px;
}

.content h2 {
    padding: 20px 0px;
}

.filter {
    padding: 0px 20px 10px 20px;
    border-bottom: 4px solid #eee;
}
.filter .col-md-4, .filter .col-md-8 { padding: 0; }
.filter select { margin-left: 20px; }

.chart {
    height: 400px;
    margin: 20px;
}

.tooltip {
    position: absolute;
    opacity: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* SVG */

.axis {
    font-size: 11px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis path, .x.axis .tick line {
    display: none;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.grid {
    fill: none;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.indicator {
    display: none;
    stroke: rgba(0, 20, 100, 0.2);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}
.line {
    fill: none;
    stroke-width: 2px;
    /*
    shape-rendering: crispEdges;
    */
}