{% load static %}

<!doctype html>
<html>
    <head>
        <title>Tally Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link href="{% static "tally/css/tally.css" %}" rel="stylesheet" />
    </head>
    <body>
        <div class="sidebar">
            <h1>Tally</h1>
            {% for a in archives %}
                <a href="{% url "tally-archive" slug=a.slug %}" class="archive{% if a == archive %} active{% endif %}">
                    <span class="glyphicon glyphicon-stats"></span>
                    {{ a }}
                    {% if a.description %}<span class="description">{{ a.description }}</span>{% endif %}
                </a>
            {% endfor %}
        </div>
        <div class="container-fluid content">
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="{% static "tally/js/tally.js" %}"></script>
    </body>
</html>
