{% extends "tally/base.html" %}

{% block content %}
<h2>{{ archive }}</h2>
<div class="row filter">
    <div class="col-md-8">
        <label class="checkbox-inline">
            <input type="checkbox" /> Count
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" /> Average
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" /> Sum
        </label>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control input-sm" />
    </div>
</div>
<div class="chart" data-url="{% url "tally-timedata" slug=archive.slug %}">
</div>
{% endblock %}
